[Unit]
Description=Tail RTLS Daemon
Documentation=man:tail
Requires=network.target
After=network.target

[Service]
Type=simple
Nice=-20
Restart=always
RestartSec=5
ExecStart=/usr/sbin/rtlsd -c /opt/rtls/etc/rtls.conf -L /opt/rtls/etc/logging.conf

[Install]
WantedBy=multi-user.target

